<form action="/product" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="description" placeholder="description" required>
    <input type="text" name="price" placeholder="price" required>
    <input type="text" name="code" placeholder="code" required>
    <input type="file" name="file">
    <button type="submit">Create product</button>
</form>